<footer>
	<div class="footer-inner">
		<div class="content">
			<h5>About us</h5>
			<p>
				Hypenotic is a marketing strategy, design & development firm that chooses to use its powers for good. We’re a certified founding member of B Corp in Canada.  Since ’98, we’ve helped a lot of interesting people do important things. We create relevant communications and useful experiences. <a href="/about">Find out more.</a>
			</p>
			<div class="social-share">
			<span class='symbol'><a href="https://twitter.com/hypenotic">circletwitterbird</a></span></a>
			<span class='symbol'><a href="https://www.facebook.com/hypenotic">circlefacebook</a></span>
			<span class='symbol'><a href="http://www.linkedin.com/company/hypenotic">circlelinkedin</a></span>
			<span class='symbol'><a href="https://github.com/hypenotic">circlegithubalt</a></span>
			<span class='symbol'><a href="https://plus.google.com/108348294269297908661/posts">circlegoogleplus</a></span>
			</div>
		</div>

		<div class="content">
			<h5>Newsletter</h5>
          	<p>Subscribe to our weekly newsletter!</p>
			<form action="http://hypenotic.us1.list-manage.com/subscribe/post?u=24fdcfc8d7addaf3c603f28a9&amp;id=06041ce3ca" method="post">
			<input type="hidden" value="2" name="group[2][2]" id="mce-group[2]-2-1">
            <fieldset>
                <ol>
                <li><input name="EMAIL" placeholder="you@yourdomain.com" type="email" value=""  id="mce-EMAIL" required></li>
              </ol>
              <div><input type="submit" value="Yes"></div>
            </fieldset>
          </form>
		</div>

		<div class="content">
			<h5>Articles</h5>
			<ul>  
				{% for post in site.posts limit:5 %}  
				   <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>  
				{% endfor %}  
			</ul>
		</div>	
	</div>
	<div class="footer-inner">
		<p class="small">&copy; 1998 - {{ site.time | date: '%Y' }} Hypenotic Inc. All Rights Reserved.</p>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/app.min.js"></script>


<script>
    jQuery(document).ready(function() {
           jQuery('.menu-link').bigSlide();
    });
</script>

</body>
</html>
