<footer>
	<div class="footer-inner">
		<div class="content">
			<h5>About us</h5>
			<p>
				Hypenotic is a marketing strategy, design & development firm that chooses to use its powers for good. We’re a certified founding member of B Corp in Canada.  Since ’98, we’ve helped a lot of interesting people do important things. We create relevant communications and useful experiences. <a href="/about">Find out more.</a>
			</p>
			<div class="social-share">
			<span class='symbol'><a href="https://twitter.com/hypenotic">circletwitterbird</a></span></a>
			<span class='symbol'><a href="https://www.facebook.com/hypenotic">circlefacebook</a></span>
			<span class='symbol'><a href="http://www.linkedin.com/company/hypenotic">circlelinkedin</a></span>
			<span class='symbol'><a href="https://github.com/hypenotic">circlegithubalt</a></span>
			<span class='symbol'><a href="https://plus.google.com/108348294269297908661/posts">circlegoogleplus</a></span>
			</div>
		</div>

		<div class="content">
			<h5>Newsletter</h5>
          	<p>Subscribe to our weekly newsletter!</p>
			<form action="http://hypenotic.us1.list-manage.com/subscribe/post?u=24fdcfc8d7addaf3c603f28a9&amp;id=06041ce3ca" method="post">
			<input type="hidden" value="2" name="group[2][2]" id="mce-group[2]-2-1">
            <fieldset>
                <ol>
                <li><input name="EMAIL" placeholder="you@yourdomain.com" type="email" value=""  id="mce-EMAIL" required></li>
              </ol>
              <div><input type="submit" value="Yes"></div>
            </fieldset>
          </form>
		</div>

		<div class="content">
			<h5>Articles</h5>
			<ul>  
				{% for post in site.posts limit:5 %}  
				   <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>  
				{% endfor %}  
			</ul>
		</div>	
	</div>
	<div class="footer-inner">
		<p class="small">&copy; 1998 - {{ site.time | date: '%Y' }} Hypenotic Inc. All Rights Reserved.</p>
	</div>
</footer>

<script src="{{ site.baseurl }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.min.js"></script>
<script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });

    window.viewportUnitsBuggyfill.init();

    $(document).ready(function() {
    $(".time").text(function (index, value) {
      return Math.round(parseFloat(value));
    });
  });

    /* fix vertical when not overflow
call fullscreenFix() if .fullscreen content changes */
function fullscreenFix(){
    var h = $('body').height();
    // set .fullscreen height
    $(".content-b").each(function(i){
        if($(this).innerHeight() <= h){
            $(this).closest(".fullscreen").addClass("not-overflow");
        }
    });
}
$(window).resize(fullscreenFix);
fullscreenFix();

/* resize background images */
function backgroundResize(){
    var windowH = $(window).height();
    $(".background").each(function(i){
        var path = $(this);
        // variables
        var contW = path.width();
        var contH = path.height();
        var imgW = path.attr("data-img-width");
        var imgH = path.attr("data-img-height");
        var ratio = imgW / imgH;
        // overflowing difference
        var diff = parseFloat(path.attr("data-diff"));
        diff = diff ? diff : 0;
        // remaining height to have fullscreen image only on parallax
        var remainingH = 0;
        if(path.hasClass("parallax")){
            var maxH = contH > windowH ? contH : windowH;
            remainingH = windowH - contH;
        }
        // set img values depending on cont
        imgH = contH + remainingH + diff;
        imgW = imgH * ratio;
        // fix when too large
        if(contW > imgW){
            imgW = contW;
            imgH = imgW / ratio;
        }
        //
        path.data("resized-imgW", imgW);
        path.data("resized-imgH", imgH);
        path.css("background-size", imgW + "px " + imgH + "px");
    });
}
$(window).resize(backgroundResize);
$(window).focus(backgroundResize);
backgroundResize();
</script>
</body>
</html>