button,
input[type="submit"] {
    @extend %button;
    @include appearance(none);
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button {
    border-radius: 5px;
    text-tranform: uppercase;
    border: 1px solid #333;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.6em 1.8em 0.6em;
    display: inline-block;
    margin-top: .5em;
    font-family: $sans-serif;
    color: #333;
    &:hover {
        color: $white;
        background-color: #333;
    }
    &:first-child {
        color: $white;
    }
}
