.meta {
    @include adjust-font-size-to(14px);
    font-family: $san-serif;
    font-weight: 400;
    text-transform: uppercase;
    & a {
        color: gray;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.sub-meta {
    @include adjust-font-size-to(14px);
    font-family: $serif;
    font-style: italic;
    text-transform: none;
}

.address {
    padding: 50px 0;
    text-align: center;
    h6 {
        padding-top: 10px;
        text-transform: uppercase;
    }
}



.full-length-list {
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    padding-bottom: 4.5em;
    padding-top: 4.5em;
    position: relative;
    transition: background .25s ease-in-out;
    &:hover {
        background: #8ED5E0;
    }
    &:first-child {
        padding-top: 130px;
    }
    &:nth-child(2n) {
        background: #e7e6e2;
        &:hover {
            background: #8ED5E0;
        }
    }
    img {
        margin-top: 4em;
        @include susy-breakpoint(55em, $desktop) {
            @include prefix(4);
        }
    }
    h3 {
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
    a.button {
        @include sassy-button-structure(3px, 20px);
        border: 1px solid #171715;
        color: #242223;
        font-family: $san-serif;
        padding: 10px 25px;
        text-decoration: none;
        &:hover {
            border: 1px solid white;
            color: white;
        }
    }
}
