.archive-container {
    padding-top: 50px;
    display: block;
}

.archive {
    border-top: 1px solid #ccc;
    text-align: center;
    .inner {
        @include outer-container;
        @include media($bp-large) {
            .test {
                @include span-columns(6);
                @include shift(3);
                @include pad(50px 0 20px 0);
            }
        }
    }
    .paged-1 &:first-child {
        background-color: #333;
        p, h4, a, small, .fa-clock-o {
            color: $white;
        }
    }
}
