.archive-container {
    padding-top: 50px;
    display: block;
    article {
        @include outer-container;
    }
}

.archive {
    border-top: 1px solid #ccc;
    padding: 60px 20px 60px 20px;
    text-align: center;
    @include media($bp-large) {
        p, h4 {
            @include pad(0px 250px 0px 250px);
        }
    }

    .paged-1 &:first-child {
        background-color: #333;
        p, h4 {
            color: $white;
        }
    }
}
