section[role=main] {
    padding: 50px 0 50px 0;
    @include outer-container;
    article {
        @include media($bp-large) {
            @include span-columns(7);
            @include shift(2.5);
        }
    }
}

.avatar {
    border-radius: 50%;
    margin-bottom: .7em;
    width: 130px;
    height: 130px;
}

.clients {
    @include media($bp-large) {
        @include span-columns(4 of 12);
        height: 300px;
        @include omega(3n);
        position: relative;
        &:hover {
            background-color: $yellow;
        }
        img {
            width: 50%;
            height: auto;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}