---
layout: default
---

<section class="archive-container paged-{{ paginator.page }}"> 
    {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.author] %}
    <div class="archive">
        <!--<img class="avatar" src="{{post.avatar}}">-->
        <img class="avatar" src="http://placehold.it/130x130">
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}
        {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} minute read
        <p>Written by {{ author.name }} on {{ post.date | date: "%B %-d, %Y"}} in <a href="/{{ post.categories }}">{{ post.categories | first | capitalize }}</a></p>  
    </div>
    {% endfor %}
</section>


<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
    {% else %}
        <span>Previous</span>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> 
    {% if paginator.next_page %}
        <a href="/articles/page{{ paginator.next_page }}" class="next">Next</a>
    {% else %}
        <span>Next</span>
    {% endif %}
</div>
